* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}

.settings-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 400px;
}

.settings-modal p {
  margin-bottom: 20px;
  color: #333;
  font-size: 1rem;
}

.settings-modal label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
}

.settings-modal input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.settings-modal input[type="checkbox"] {
  margin-right: 10px;
}

.settings-modal button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.settings-modal button:hover {
  background-color: #0056b3;
}

.camera-feed,
.canvas-overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.canvas-overlay {
  z-index: 10;
}

.camera-container {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}

.camera-feed, .canvas-overlay {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.camera-feed.user-facing {
  transform: scaleX(-1);
}

.camera-button {
  position: absolute;
  font-size: 2.5rem;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: #fff; /* White text */
  border: none;
  border-radius: 50%;
  padding: 15px;
  width: 4.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-settings {
  bottom: 20px;
  left: 20px;
}

.switch-camera {
  bottom: 20px;
  right: 20px;
}

@media screen and (orientation: landscape) {
  .switch-camera {
    top: 20px; /* Move to top right in landscape */
    right: 20px;
    bottom: auto;
  }

  .show-settings {
    bottom: 20px;
    right: 20px; /* Move to bottom right in landscape */
    left: auto;
  }
}